@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div>
  <h4>Add a new Stylist</h4>

  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add a new Stylist" />
  }
  <br> @using (Html.BeginForm("Index", "Stylists", FormMethod.Get))
  {
    <input type="submit" value="Show all Stylists" class="btn btn-success">
  }
</div>