@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;

<div class="container">
  <h2>Stylists</h2>
  <img src='~/img/cutting.jpg'>
  @if (@Model.Count == 0)
  {
    <h4>No Stylists have been added</h4>
  }
  
  <table>
    <tr>
      <th>Stylist</th>
      <th>Stylist Hire Date</th>
    </tr>
    @foreach (Stylist stylist in Model)
    {
      <tr>
        <td>@Html.ActionLink($"{stylist.Name}", "Details", new { id = stylist.StylistId })</td>
        <td>@stylist.DateHired</td>
      </tr>
    }
  </table>
  <br> @using (Html.BeginForm("Create", "Stylists", FormMethod.Get))
  {
    <input type="submit" value="Add a new Stylist" class="btn btn-primary">
  }
  <br> @using (Html.BeginForm("Create", "Clients", FormMethod.Get))
  {
    <input type="submit" value="Add a new Client" class="btn btn-secondary">
  }
  <br> @using (Html.BeginForm("Index", "Home", FormMethod.Get))
  {
    <input type="submit" value="Home" class="btn btn-success">
  }
</div>

