@{
  Layout = "_Layout";
}

<div class="container">
  <h2><a href="https://fontmeme.com/the-queen-of-flow-font/"><img src="https://fontmeme.com/permalink/220520/a627ca1905760d9ab12ae5a3ddc2e392.png" alt="the-queen-of-flow-font" border="0"></a></h2>
  <img src='~/img/salon.jpg'>
  <h3>Stylist and Client Management</h3>
  @using (Html.BeginForm("Index", "Clients", FormMethod.Get))
  {
    <input type="submit" value="See All Clients" class="btn btn-primary">
  }
  <br>@using (Html.BeginForm("Index", "Stylists", FormMethod.Get))
  {
    <input type="submit" value="See All Stylists" class="btn btn-secondary">
  }
</div>
