@{
  Layout = "_Layout";
}

<div class="container">
<h2>Eau Claire's Salon</h2>
<h3>Stylist and Client Management</h3>
<p>@Html.ActionLink("See all Clients", "Index", "Clients")</p>
<p>@Html.ActionLink("See all Stylists", "Index", "Stylists")</p>
</div>
